# Load the dataset

In [27]:
import pandas as pd
data = pd.read_csv('../data/feedback_prize/feedback_prize_input.csv')
data.head()

                                                text cat_label
0  Modern humans today are always on their phone....      Lead
1  They are some really bad consequences when stu...  Position
2  Some certain areas in the United States ban ph...  Evidence
3  When people have phones, they know about certa...  Evidence
4  Driving is one of the way how to get around. P...     Claim

In [30]:
data['label'] = data.cat_label.astype('category').cat.codes
data.head()

                                                text cat_label  label
0  Modern humans today are always on their phone....      Lead      4
1  They are some really bad consequences when stu...  Position      5
2  Some certain areas in the United States ban ph...  Evidence      3
3  When people have phones, they know about certa...  Evidence      3
4  Driving is one of the way how to get around. P...     Claim      0

**Import data to a csv file**

In [32]:
data[['text', 'label']].to_csv('../data/clean/feedback_prize_7_labels.csv')

# Combine claims and premises in 2 labels

In [22]:
def combine_label(row):
    """
    Put claims and counterclaims together under 'claim' and the remaining labels under 'premise'
    """
    if row['cat_label'].lower() == 'claim' or row['cat_label'] == 'counterclaim':
        return 'claim'
    else:
        return 'premise'

In [23]:
data['com_label'] = data.apply(lambda row: combine_label(row), axis=1)
data.head()

                                                text cat_label com_label
0  Modern humans today are always on their phone....      Lead   premise
1  They are some really bad consequences when stu...  Position   premise
2  Some certain areas in the United States ban ph...  Evidence   premise
3  When people have phones, they know about certa...  Evidence   premise
4  Driving is one of the way how to get around. P...     Claim     claim

In [24]:
data['label'] = data.com_label.astype('category').cat.codes
data.head()

,text,cat_label,com_label,label
0,Modern humans today are always on their phone....,Lead,premise,1
1,They are some really bad consequences when stu...,Position,premise,1
2,Some certain areas in the United States ban ph...,Evidence,premise,1
3,"When people have phones, they know about certa...",Evidence,premise,1
4,Driving is one of the way how to get around. P...,Claim,claim,0

In [25]:
data.drop(['cat_label', 'com_label'], axis=1, inplace=True)
data.head()

                                                text  label
0  Modern humans today are always on their phone....      1
1  They are some really bad consequences when stu...      1
2  Some certain areas in the United States ban ph...      1
3  When people have phones, they know about certa...      1
4  Driving is one of the way how to get around. P...      0

**Import data to a csv file**

In [33]:
data.to_csv('../data/clean/feedback_prize_2_labels.csv', index=False)